@use 'sass:color'
    
// FONTS
$borna-woff: "/assets/front/font/woff/"
$borna-woff2: "/assets/front/font/woff2/"
@font-face
    src: url($borna-woff + "light.woff") format("woff"), url($borna-woff2 + "light.woff2") format("woff2")
    font-family: "Borna"
    font-weight: 300
@font-face
    src: url($borna-woff + "regular.woff") format("woff"), url($borna-woff2 + "regular.woff2") format("woff2")
    font-family: "Borna"
    font-weight: 400
@font-face
    src: url($borna-woff + "bold.woff") format("woff"), url($borna-woff2 + "bold.woff2") format("woff2")
    font-family: "Borna"
    font-weight: 700

// COLORS
$dark: #333745
$gray: #97979C
$light: #FBF7F4
$primary-lightest: #FFC458
$primary-lighter: #FFB42B
$primary-original: #E59500
$primary-darker: #B77700
$primary-darkest: #8E5C00
$red: #f00

// EFFECTS
$raise-light: inset 0px 0px 4px color.change($dark,$alpha:0.5)
$raise-dark: inset 0px 0px 4px color.change($light,$alpha:0.5)

// BASIC RULES
*
    margin: 0px
    font-family: 'Borna'
a
    text-decoration: none
    color: inherit
.hide
    display: none
p
    padding: 4px 0px
    text-align: justify

main
    padding: 0px 32px
    min-height: 100vh
    display: flex
    flex-flow: column nowrap
    gap: 32px
    #body
        flex: 1 1 content
        width: min(1000px, 100%)
        margin: 0px auto
    &.light
        background-color: $light
        color: $dark
    &.dark
        background-color: $dark
        color: $light
    &.fa
        direction: rtl
    &.en
        direction: ltr

// ICONS
$icons: "/assets/front/font/"
@font-face
    font-family: "icons"
    src: url($icons + "solacode-icons.woff") format("woff"), url($icons + "solacode-icons.woff2") format("woff2")
.icon
    font-family: "icons"
    &.bell::before
        content: '\e800'
    &.box::before
        content: '\e801'
    &.checkbox::before
        content: '\e802'
    &.dark::before
        content: '\e803'
    &.down::before
        content: '\e804'
    &.download::before
        content: '\e805'
    &.instagram::before
        content: '\e806'
    &.left::before
        content: '\e807'
    &.light::before
        content: '\e808'
    &.mail::before
        content: '\e809'
    &.right::before
        content: '\e80a'
    &.search::before
        content: '\e80b'
    &.share::before
        content: '\e80c'